
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:head>
	<meta charset="UTF-8">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</wicket:head>
<body>
	<wicket:extend>

		<div class="container" style="background-color: white">
			<div class="card">
				<h5 class="card-header">We are</h5>
				<div class="card-body">
					<img alt="img" src="ipb.png">
					<br /><br />
					O Instituto Politécnico de Bragança é uma instituição pública de ensino superior, empenhada na oferta de formação de qualidade e na promoção de atividades de investigação e extensão com impacto no meio económico, social e cultural.

Promovemos a qualidade através da qualificação do nosso corpo docente e da avaliação e acreditação da instituição e dos ciclos de estudos a nível nacional e internacional.

Assumimos o desafio da reforma do ensino superior e acreditamos na democratização do acesso, na abertura a novos públicos e no projeto de aprendizagem ao longo da vida, contribuindo para a aproximação dos índices de frequência e de qualificação da população portuguesa à média da União Europeia.

Garantimos a transparência internacional e o reconhecimento académico e profissional das nossas qualificações, através da adequação ao Processo de Bolonha, da aplicação do sistema de créditos do ECTS e da disponibilização bilingue do Guia ECTS, diplomas e certificados.

Acreditamos no papel fundamental da investigação aplicada para o fortalecimento da missão educativa a nível profissional e tecnológico e como fator de relacionamento externo e de desenvolvimento económico.

Trabalhamos para a plena empregabilidade dos nossos diplomados, através do redesenho das nossas formações, da oferta de estágios curriculares e profissionais, da dinamização da atitude empreendedora e do acesso ao mercado de trabalho europeu e internacional.

Promovemos a internacionalização do ensino superior, através do fomento da mobilidade dos nossos estudantes e diplomados e do estabelecimento de projetos educativos e de investigação conjuntos no espaço transfronteiriço, europeu e internacional.

Participamos na promoção da internacionalização do ensino superior politécnico a nível europeu e no seu enquadramento na rede de universidades de ciências aplicadas (European Network for Universities of Applied Sciences, UASNET).

Contribuímos para o desenvolvimento do ensino superior nos países de língua oficial portuguesa e para o aprofundamento de um espaço lusófono de ensino superior.

Temos consciência que o IPB representa um fator fundamental de sustentabilidade económica, social e cultural da região em que se insere.

Queremos desempenhar um papel de motor de desenvolvimento da região e afirmarmo-nos no espaço nacional, europeu e internacional.
				</div>
			</div>
			<br /> <br /> <br /> <br /> <br />
			<br />
		</div>

	</wicket:extend>
</body>
</html>