<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:head>
	<meta charset="UTF-8">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" type="text/css" href="telaPrincipal.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">  -->
</wicket:head>
<body>
	<wicket:extend>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script type="text/javascript">
			function sucessCadastro() {
				swal("Successfully registered!", "!", "success");
			}
			function sucessDelet() {
				swal("Tutorial deleted!", "!", "success");
			}
		</script>

		<div class="card text-center">
			<h5 class="card-header">Tutorials</h5>
			<div class="card-body">
				<form wicket:id="form2">
					<div class="form-row">
						<!-- <div class="col-md-3">
						<label for="category" class="text">Category: *</label> <select
							type="text" name="category" placeholder="Category"></select>
					</div> -->
						<div class="col-md-3">
							<label for="category" class="text">Category: *</label> <select
								wicket:id="categoria" type="text" class="form-control"
								name="category" placeholder="Category"></select>
						</div>
						<div class="col-md-4">
							<label for="name" class="text">Name: *</label> <input
								wicket:id="title" type="text" name="name" class="form-control"
								placeholder="Searching...">
						</div>
						<br />
					</div>
					<a wicket:id="filtrar" class="btn btn-secondary"
						style="float: right; color: white;">Filter</a>
				</form>

				<a href="#" wicket:id="tutorialForm" class="btn btn-success"
					margin:-2px;
						style="float: right;">New <i
					class="fas fa-plus"></i>
				</a><br /> <br />
				<!-- <div class="row"> -->
				<!-- <form>
					<div class="form-group">
						<img alt="img" src="Logo3_Small.PNG" class="profile" id="profile">
						<label for="profile">Map</label>
					</div>
				</form> -->
				<!-- <table>
						<thead>
							<tr>
								<th scope="col">name</th>
							</tr>
						</thead> -->
				<tbody>
					<tr>
						<td class="text"></td>
					</tr>
				</tbody>
				<!-- </table> -->
				<div class="row" wicket:id="theContainer">
					<div class="coluna" wicket:id="listView">
						<figure class="html5">
							<a wicket:id="vis"><img src="ipb.png"
								class="rounded-circle" id="teste" alt="Tutorial de CSS"
								title="Map" width="150" height="150" /></a>
							<figcaption>
								<a wicket:id="title"></a><a wicket:id="alterar"
									class="btn btn-default" rel="tooltip" title="Edit"> <i
									class="fas fa-pencil-alt"></i>
								</a><a wicket:id="excluir" class="btn btn-default modal-confirm"
									title="delet"> <i class="fa fa-trash"></i>
								</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<div wicket:id="pag"></div>
			</div>
			<div wicket:id="modalWindowDel"></div>
		</div>
	</wicket:extend>
</body>
</html>