<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:head>
	<meta charset="UTF-8">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</wicket:head>
<body>
	<wicket:extend>
	<h2 wicket:id="title">Title Tutorial </h2>
	<br />
	<h3>Body</h3><br />
	<p wicket:id="editor" /><br /><br /><br />
	<h2>Comments</h2>
	<div class="col-md-6">
		<textArea rows="4" cols="80"></textArea><br />
		<button class="btn btn-dark">Comment</button>
	</div>
	</wicket:extend>
</body>
</html>